*~
\#*\#
.#*
*.elc
*.eln
*-autoloads.el
*-pkg.el
*.tar
packages/
dist/
archive/
.log/
.cask/
.eask/
.eldev/
elpa/
.ert-runner/
test/**/*.elc
coverage/
.cache/
.tmp/
.eglot/
.flycheck_*
TAGS
tags
GTAGS
GRTAGS
GPATH
.DS_Store
Thumbs.db
docs/*.info
docs/dir
.env
